.page {
  padding-left: 25px;
}

.imgwrap {
  display: flex;
  border-bottom: 1px solid #0d253f;
  padding-bottom: 10px;
}

.wrap {
  margin-left: 20px;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #0d253f;
}

.heading {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #0d253f;
}

.additional {
  margin-top: 20px;
  padding-bottom: 20px;
}

.add_title {
  font-weight: 600;
  font-size: 18px;
  color: #0d253f;
}

.list {
  margin-top: 10px;
  list-style-type: circle;
  margin-left: 35px;
}

.item:first-child {
  margin-bottom: 10px;
}

.item:hover {
  color: #0171c2;
}

.linkwrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.link {
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: #0d253f;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.link:hover {
  color: #0171c2;
}

.arrow {
  cursor: pointer;
  flex-shrink: 0;
  fill: #0d253f;
  width: 18px;
  height: 18px;
}
