.form {
  margin-left: 25px;
  margin-bottom: 20px;
}

.input {
  min-width: 300px;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #0d253f;
  font-size: 14px;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #0d253f;
  background-color: #0d253f;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
}

.btn:hover {
  background-color: white;
  color: #0d253f;
}
